@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 mb-4 rounded-3" style="background: aliceblue;">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Identification and Authentication Failures</h1>
        <p>
            <img src="https://owasp.org/Top10/assets/TOP_10_logo_Final_Logo_Colour.png" style="width: 90%" />
        </p>
    </div>
</div>
