@{
    ViewData["Title"] = "XML Product Upload";
}

<div class="row">

    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-body">
                <h3>Upload Product XML File</h3>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="FileUpload" />
                    <hr />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload Data</button>
                </form>
                <br /><br />
                @if (ViewBag.Data != null)
                {

                      <code>
                          @Html.Raw(ViewBag.Data)
                      </code>
               

                <button class="btn btn-lg btn-primary btn-block" type="submit">Save Data</button>


                }

            </div>
        </div>
    </div>

</div>
